@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/bootstrap";

body {
    background: #f8f8f8;
}

#mainContainer {
    background: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "nav header sidebar"
                         "nav  main sidebar";
}

#mainContainer header {
    grid-area: header;
}

#mainContainer aside {
    grid-area: sidebar;
}

#mainContainer nav {
    grid-area: nav;
}

#mainContainer main {
    grid-area: main;
}
